################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/AdventOfCode 2021/obj/
/AdventOfCode 2021/.vs/
/AdventOfCode 2021/bin